@{
  Layout = "_Layout-Admin";
}
@model ElectronicsVendor.Models.Component

<h2>Create a new component</h2>

@using (Html.BeginForm())
{
  <div class="form-row">
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)
    <button class="green" type="submit">Save</button>
  </div>
}

<div class="button-area">
  <a href='@Url.Action("Index")'>
    <button>Cancel</button>
  </a>
</div>